* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/* grid area */
.container {
  display: grid;
  grid-template-rows: 3;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

/* Header design*/
.Header {
  grid-area: header;
  background-color: #f4f3ee;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
}
.Header__logo {
  display: flex;
  grid-area: header;
  align-items: center;
  height: fit-content;
  width: fit-content;
}
.srOnly {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.Header__search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  margin-right: 0;
  width: 50%;
  min-width: 250px;
  min-height: 100px;
}

.Header__search-bar__searchTerm {
  width: 50%;
  border: 3px solid #8a817c;
  border-right: none;
  padding: 5px;
  height: 30%;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.Header__search-bar__searchTerm:focus {
  color: black;
}

.Header__search-bar__searchButton {
  width: 10%;
  height: 30%;
  border: 1px solid #8a817c;
  background: #8a817c;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.Header__search-bar__searchButton:hover {
  width: 10%;
  height: 30%;
  border: 1px solid #8a817c;
  background: #8a817c;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.Header__nav-bar {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header__nav-bar__mainMenu {
  list-style: none;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  cursor: pointer;
}
.Header__nav-bar__mainMenu__closeMenu {
  display: none;
}
.Header__nav-bar__openMenu {
  cursor: pointer;
  display: none;
  float: right;
}
.Header__nav-bar__mainMenu li a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.Header__nav-bar__mainMenu li a:hover {
  background-color: #463f3a;
  color: #f4f3ee;
  border-radius: 6px;
}
@media (max-width: 650px) {
  .Header__logo__image {
    height: 50px;
    width: 25px;
  }
  .Header__nav-bar__mainMenu {
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    border-radius: 7px;
    background-color: #f4f3ee;
    display: none;
  }
  .Header__nav-bar__mainMenu__closeMenu {
    display: block;
    position: relative;
    top: 0;
    left: auto;
    right: auto;
    color: black;
  }
  .Header__nav-bar__openMenu {
    display: flex;
    align-items: center;
    padding-right: 70%;
  }
}

/* main-content-design*/

.Main__image {
  float: center;
  margin-left: auto;
  margin-top: 5%;
  height: auto;
  width: 20%;
  clip-path: circle();
}
.overlay {
  background: #00000073;
  z-index: 1;
}
.Main {
  grid-area: main-content;
  text-align: center;
  background-image: url(../images/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
.Main__paragraph {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  background: #eeeeee61;
  margin-bottom: 6%;
  padding: 2%;
  font-size: 1.2em;
}
.Main__greeting {
  border-style: solid;
  border-color: silver;
  margin-bottom: 4%;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 10px;
  background: #eeeeee61;
}
.Main__welcome {
  font-size: 1.3em;
  margin-bottom: 4%;
  background: #eeeeee40;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  padding: 0.5%;
}
.Main__dots {
  border-width: 6px;
  border-style: solid;
  border-color: 8a817c;
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 13%;
  text-align: center;
  margin: auto;
  margin-bottom: 7%;
}

.Main__button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #292626;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-bottom: 10%;
}
.Main__button:hover {
  background-color: #eadbdb;
}
.Main__button:active {
  position: relative;
  top: 1px;
}
/* footer designs */
.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  grid-area: footer;
  height: 200%;
  background-color: #f4f3ee;
}
.Footer__socials {
  font-size: 3em;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.icon {
  font-size: 80%;
  margin-right: 20%;
  margin-left: 20%;
  transition: 0.5s;
}
.icon:hover {
  font-size: 100%;
}
a {
  color: black;
}
